.info-header-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: .75em;
  background-color: white;
  height: 63px;

  span {
    color: #6E6E6F;

    b {
      text-transform: uppercase;
      margin-right: 20px;
    }
  }
}
